.button {
  top: 50%;
  background-color: #ACB1D6;
  color: white;
  border-color: #ACB1D6;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
  transition: all .7s;
}