.wrapper {
  display: flex;
  flex-direction: column;
}

.status,
.people,
.showBill {
  font-size: 32px;
  font-weight: bold;
  flex-basis: 20%;

}

.bill {
  display: none;
}

.WrapperForm {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.btnUpdate {
  margin-top: 30px;
}

.span {
  font-size: 30px;
}